<a href="https://colab.research.google.com/github/Mudit0917/batch_50_python/blob/main/python_lab1_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#welcome to my first lab
print("welcome to my python lab")

welcome to my python lab

**KEYWORDS AND IDENTIFIERS**

In [ ]:
print(keyw.kwlist())

NameError: name 'keyw' is not defined

In [ ]:
a=10+10
print(a)
a=10+10+\
  20+20+\
  30+20+10
print(a)

20
120

In [ ]:
# @title Default title text
l1=['a',
    'b',
    'c',
    'd',
    'e'
    ]
l1

['a', 'b', 'c', 'd', 'e']

In [ ]:
#assignment
#mystring="'Hi, My name is Mudit tyagi'\n 'And I Am A student doing my bachelors from UPES'"
print(mystring)

'Hi, My name is Mudit tyagi'
 'And I Am A student doing my bachlors from UPES'

In [ ]:
num1

In [ ]:
num1=int(input("Enter your first number"))
num2=int(input("Enter your second number"))
sum=(num1 + num2)
sum

Enter your first number786
Enter your second number108

894

In [ ]:
num1=int(input("enter your first number"))
num2=int(input("enter your second number"))
product=(num1*num2)
print(product)

enter your first number786
enter your second number108
84888

In [1]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [2]:
a=17
b=3
print(a//b)

5

In [6]:
a=17
b=3
print(a**b)
print(a/b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a^b)

4913
5.666666666666667
False
True
True
False
True
False
18

BITWISE OPERATORS

AND(&),OR(OR),NOT(!),XOR(^)

In [11]:
a=0o00001010
print(a>>1)

260

In [9]:
a=15
print(a>>1)

7

In [14]:
a=10
b=5
if(a>b) && (a==b):
print("success")
else:print("fail")

SyntaxError: invalid syntax (<ipython-input-14-da73150f9844>, line 3)

Write a program to use input function and take 2 variables store numbers in them and use arithmetic functions.

In [21]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
askk=input("enter your operation")
print(eval(str(a) + askk + str(b)))

enter your first number15
enter your second number30
enter your operation+
45