<a href="https://colab.research.google.com/github/Mudit0917/batch_50_python/blob/main/python_lab1_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#welcome to my first lab
print("welcome to my python lab")

welcome to my python lab

**KEYWORDS AND IDENTIFIERS**

In [ ]:
print(keyw.kwlist())

NameError: name 'keyw' is not defined

In [ ]:
a=10+10
print(a)
a=10+10+\
  20+20+\
  30+20+10
print(a)

20
120

In [ ]:
# @title Default title text
l1=['a',
    'b',
    'c',
    'd',
    'e'
    ]
l1

['a', 'b', 'c', 'd', 'e']

In [ ]:
#assignment
#mystring="'Hi, My name is Mudit tyagi'\n 'And I Am A student doing my bachelors from UPES'"
print(mystring)

'Hi, My name is Mudit tyagi'
 'And I Am A student doing my bachlors from UPES'

In [ ]:
num1

In [ ]:
num1=int(input("Enter your first number"))
num2=int(input("Enter your second number"))
sum=(num1 + num2)
sum

Enter your first number786
Enter your second number108

894

In [ ]:
num1=int(input("enter your first number"))
num2=int(input("enter your second number"))
product=(num1*num2)
print(product)

enter your first number786
enter your second number108
84888

In [ ]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [ ]:
a=17
b=3
print(a//b)

5

In [ ]:
a=17
b=3
print(a**b)
print(a/b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a^b)

4913
5.666666666666667
False
True
True
False
True
False
18

BITWISE OPERATORS

AND(&),OR(OR),NOT(!),XOR(^)

In [ ]:
a=0o00001010
print(a>>1)

260

In [ ]:
a=15
print(a>>1)

7

In [ ]:
a=10
b=5
if(a>b) && (a==b):
print("success")
else:print("fail")

SyntaxError: invalid syntax (<ipython-input-14-da73150f9844>, line 3)

Write a program to use input function and take 2 variables store numbers in them and use arithmetic functions.

In [ ]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
askk=input("enter your operation")
print(eval(str(a) + askk + str(b)))

enter your first number2
enter your second number3
enter your operation**
8

In [ ]:

import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 3
The area of the circle with radius 3.0 is: 28.27

In [ ]:
import math
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = math.sqrt(a**2 + b**2)
print(f"The length of the hypotenuse is: {c:.2f}")

Enter the length of side a: 4
Enter the length of side b: 8
The length of the hypotenuse is: 8.94

In [ ]:

P = float(input("Enter the principal amount (P): "))
R = float(input("Enter the annual rate of interest (R in %): "))
T = float(input("Enter the time (T in years): "))

SI = (P * R * T) / 100

print(f"The Simple Interest is: {SI:.2f}")

Enter the principal amount (P): 5000
Enter the annual rate of interest (R in %): 12
Enter the time (T in years): 10
The Simple Interest is: 6000.00

In [ ]:
import math

a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

s = (a + b + c) / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f"The area of the triangle is: {area:.2f}")

Enter the length of side a: 31
Enter the length of side b: 36
Enter the length of side c: 38
The area of the triangle is: 519.67

In [ ]:
seconds = int(input("Enter the total seconds: "))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60

print(f"{seconds} seconds is equal to {hours} hours, {minutes} minutes, and {remaining_seconds} seconds.")

Enter the total seconds: 3600
3600 seconds is equal to 1 hours, 0 minutes, and 0 seconds.

In [ ]:
x = int(input("Enter the first number (x): "))
y = int(input("Enter the second number (y): "))
x, y = y, x

print(f"After swapping, x = {x} and y = {y}")

Enter the first number (x): 24
Enter the second number (y): 36
After swapping, x = 36 and y = 24

In [ ]:
n = int(input("Enter a number (n): "))
sum_natural = n * (n + 1) // 2

print(f"The sum of the first {n} natural numbers is: {sum_natural}")

Enter a number (n): 20
The sum of the first 20 natural numbers is: 210

In [ ]:
print("A\tB\tA & B\tA | B\tA ^ B")
for A in [0, 1]:
 for B in [0, 1]:
  print(f"{A}\t{B}\t{A & B}\t{A | B}\t{A ^ B}")

A	B	A & B	A | B	A ^ B
0	0	0	0	0
0	1	0	1	1
1	0	0	1	1
1	1	1	1	0

In [ ]:
num = int(input("Enter a number: "))
shift = int(input("Enter the number of positions to shift: "))
left_shift = num << shift
right_shift = num >> shift

print(f"Left shift by {shift} positions: {left_shift}")
print(f"Right shift by {shift} positions: {right_shift}")

Enter a number: 20
Enter the number of positions to shift: 1
Left shift by 1 positions: 40
Right shift by 1 positions: 10

In [ ]:
num = int(input("Enter a number: "))
sequence = (10, 20, 56, 78, 89)
if num in sequence:
    print(f"{num} is in the sequence.")
else:
    print(f"{num} is not in the sequence.")

Enter a number: 20
20 is in the sequence.

In [ ]:
char = input("Enter a character: ")
string = "Hello, Python!"
if char in string:
    print(f"The character '{char}' is in the string.")
else:
    print(f"The character '{char}' is not in the string.")

Enter a character: P
The character 'P' is in the string.

In [ ]:
num=int(input("Enter a number"))
if num%3==0 and num%5==0:
   print("The number is divisible by 3 and 5")
else:
   print("The number is not divisible by 3 and 5")

Enter a number45
The number is divisible by 3 and 5

In [ ]:
num=int(input("Enter a number"))
if num%5==0:
   print("The number is a multiple of 5")
else:
   print("The number is not a multiple of 5")

Enter a number45
The number is a multiple of 5

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
if num1>num2:
    print("num1 is greater")
elif num2>num1:
    print("num2 is greater")
else:
     print("both are equal")

Enter first number5
Enter second number5
both are equal

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter third number"))
if num1 > num2 and num1 > num3 or num2>num1 and num2>num3 or num3>num1 and num3>num2:
    print("The largest number is",max (num1, num2, num3))

Enter first number12
Enter second number13
Enter third number15
The largest number is 15

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
c=int(input("Enter c"))
discriminant =int(b**2 - 4*a*c)
if discriminant > 0:
  print("The equation has real roots.")
  root1 = (-b + (discriminant)**1/2) / (2*a)
  root2 = (-b - (discriminant))**1/2 (2*a)
  print(root1,root2)
elif  discriminant <0:
  print("The equation has immaginary roots")
  root1 = (-b + (discriminant))**1/2 / (2*a)
  root2 = (-b - (discriminant))**1/2 / (2*a)
  print(root1,root2)

else:
  print("nothing")

<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

Enter a5
Enter b3
Enter c5
The equation has immaginary roots
-4.7 4.4

<ipython-input-31-36ba2b36c746>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  root2 = (-b - (discriminant))**1/2 (2*a)

In [ ]:
Y=int(input("Enter your year"))
if Y%4==0:
  print("The year is a leap year")
else:
  print("The year is not a leap year")

Enter your year2006
The year is not a leap year

In [ ]:
a=int(input("Enter date"))
b=int(input("Enter month"))
c=int(input("Enter year"))
if

In [ ]:
print("---------------------------")\
name=input("Enter the name :")
roll=input("Enter the roll :")
sap=input("Enter the SAP ID :")
sem=1
course = "Btech CSE"
print("Enter marks of five subjects")
pds=float(input("Enter marks of PDS :"))
pyth=float(input("Enter marks of Python :"))
chem=float(input("Enter marks of Chemistry :"))
eng=float(input("Enter marks of English :"))
phy=float(input("Enter marks of Physics :"))
if pds<100 or pyth<100 or chem<100 or eng<100 or phy<100 :
    per=((pds+pyth+chem+eng+phy)/500)*100
    cgpa = per/10
    if cgpa>=0 and cgpa<3.5 :
        grade= "F"
    elif cgpa>=3.5 and cgpa<=5.0 :
        grade= "C+"
    elif cgpa>=5.1 and cgpa<=6.0 :
        grade = "B"
    elif cgpa>=6.1 and cgpa<=7.0 :
        grade="B+"
    elif cgpa>=7.1 and cgpa<=8.0 :
        grade="A"
    elif cgpa>=8.1 and cgpa<9.0 :
        grade="A+"
    else :
        grade="O"
    print("SAMPLE GRADESHEET")
    print("Name : ",name)
    print("Roll no :",roll)
    print("SAP ID :",sap)
    print("SEM :",sem)
    print("COURSE :",course)
    print("PDS :",pds)
    print("PYTHON :",pyth)
    print("CHEMISTRY :",chem)
    print("ENGLISH :",eng)
    print("PHYSICS :",phy)
    print("percentage : " ,per)
    print("CGPA : " ,cgpa)
    print("GRADE :",grade)
else:
    print("Invalid input")

---------------------------
Enter the name :Mudit Tyagi
Enter the roll :590014218
Enter the SAP ID :590014218
Enter marks of five subjects
Enter marks of PDS :80
Enter marks of Python :85
Enter marks of Chemistry :85
Enter marks of English :90
Enter marks of Physics :98
SAMPLE GRADESHEET
Name :  Mudit Tyagi
Roll no : 590014218
SAP ID : 590014218
SEM : 1
COURSE : Btech CSE
PDS : 80.0
PYTHON : 85.0
CHEMISTRY : 85.0
ENGLISH : 90.0
PHYSICS : 98.0
percentage :  87.6
CGPA :  8.76
GRADE : A+

In [ ]:
sec_num=14
guess_count=3
counter=0
while counter<guess_count:
    num=int(input("ENter the Guess"))
    if num==sec_num:
       print("success")
       break
    else:
        counter=counter+1
        print("try again")

ENter the Guess5
try again
ENter the Guess14
success

In [ ]:
command=""
while command! ='quit':
    command=input("")
    if command=='start':
      print("Car started")
    elif command=='stop':
        print("Car stopped")
    elif command==''

In [ ]:
num = int(input("Enter a number: "))/
if num < 2:
    print(f"{num} is not a prime number.")
else:
    i = 2
    is_prime = True
    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

In [ ]:
num = int(input("Enter a number: "))\
original_num = num
reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
if original_num == reversed_num:
    print(f"{original_num} is a palindrome.")
else:
    print(f"{original_num} is not a palindrome.")

In [ ]:
num = int(input("Enter a number: "))\
sum_of_digits = 0
while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num //= 10
print(f"The sum of digits is {sum_of_digits}.")

In [ ]:
i = 1\
count = 0
while i <= 100:
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1
    i += 1
print(f"\nCount of numbers divisible by 5 or 7: {count}")

In [ ]:
string = input("Enter a string: ")
i = 0
result = ""
while i < len(string):
    char = string[i]
    if 'a' <= char <= 'z':
        char = chr(ord(char) - 32)
    result += char
    i += 1
print(f"Converted string: {result}")

Enter a string: My name is Mudit
Converted string: MY NAME IS MUDIT

In [ ]:
i = 2\
while i <= 100:
    is_prime = True
    j = 2
    while j * j <= i:
        if i % j == 0:
            is_prime = False
            break
        j += 1
    if is_prime:
        print(i, end=" ")
    i += 1

In [ ]:
num = int(input("Enter a number: "))\
i = 1
while i <= 10:
    print(f"{num} * {i} = {num * i}")
    i += 1

In [ ]:
num = int(input("Enter a number: "))\
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"The factorial of {num} is {factorial}.")

In [ ]:
s1='Welcome'
for i in s1:
  print(i)
  if i==l:
     continue

W

NameError: name 'l' is not defined

In [ ]:
s1='Welcome'
l1=[1,2,3,4,5]
for i in s1:
  for j in l1:
    print(i,j)

W 1
W 2
W 3
W 4
W 5
e 1
e 2
e 3
e 4
e 5
l 1
l 2
l 3
l 4
l 5
c 1
c 2
c 3
c 4
c 5
o 1
o 2
o 3
o 4
o 5
m 1
m 2
m 3
m 4
m 5
e 1
e 2
e 3
e 4
e 5

In [ ]:
n=int(input("Enter a number"))
s=1
if n<0:
  print("factorial dos not exist for negative numbers")
elif n==0:
  print("The factorial is:",1)
else:
  for i in range(1, n + 1):
     s*= i
print(f"The factorial of {n} is {(s)}")

Enter a number5
The factorial of 5 is 120

In [ ]:
terms=int(input("Enter the number of terms: "))
a,b=0,1
count=0
for i in range(terms):
  print(a,end=" ")
  c=a+b
  a=b
  b=c
  count+=1

Enter the number of terms: 5
0 1 1 2 3

LIST : [1,2,3,4,5]
       -5-4-3-2-1

In [ ]:
L1=[1,2,3,4,5]
print(L1[2:3 ])

[3]

In [ ]:
L2=[1,"Sayed",True,75,"Sayed"]
L2.append("Mudit")
print(L2)
L2.insert(2,"Mudit")
print(L2)
L2.extend(["Mudit"])
print(L2)
L2.remove("Mudit")
print(L2)
L2.pop(2)
print(L2)
L2.update(3,"Kali")

[1, 'Sayed', True, 75, 'Sayed', 'Mudit']
[1, 'Sayed', 'Mudit', True, 75, 'Sayed', 'Mudit']
[1, 'Sayed', 'Mudit', True, 75, 'Sayed', 'Mudit', 'Mudit']
[1, 'Sayed', True, 75, 'Sayed', 'Mudit', 'Mudit']
[1, 'Sayed', 75, 'Sayed', 'Mudit', 'Mudit']

AttributeError: 'list' object has no attribute 'update'

In [ ]:
L1=[]
for i in range

In [ ]:
l1=[i for i in range(1000) or i%3==0 or i%5==0 or i%7==0]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [ ]:
T1=(1,2,3,4,5,6,7)
T1[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [ ]:
T1=(1,2,3,4,5,6)
T2=('one','two','three','four','five','six')
T3=T1+T2
print(T3)
T2[0][0]

(1, 2, 3, 4, 5, 6, 'one', 'two', 'three', 'four', 'five', 'six')

'o'

In [ ]:
set.1={5,6,10}

In [ ]:
armstrong_numbers = [num for num in range(100, 10000)if num == sum(int(digit) ** len(str(num)) for digit in str(num))]
print("Armstrong numbers between 100 and 10000:")
print(armstrong_numbers)

Armstrong numbers between 100 and 10000:
[153, 370, 371, 407, 1634, 8208, 9474]

In [ ]:
n = int(input("Enter the number of fruits per set (n): "))\
s1=set()
print("\nEnter fruits for set s1:")
while len(s1) < n:
    fruit = input(f"Enter fruit {len(s1) + 1}: ")
    if fruit:
        s1.add(fruit)
s2=set()
print("\nEnter fruits for set s2:")
while len(s2) < n:
    fruit = input(f"Enter fruit {len(s2) + 1}: ")
    if fruit:
        s2.add(fruit)
print("\na) Fruits common to both sets s1 and s2:", s1 & s2)
print("b) Fruits only in s1 but not in s2:", s1 - s2)
print("c) Count of all unique fruits from s1 and s2:", len(s1 | s2))

Enter the number of fruits per set (n): 2

Enter fruits for set s1:
Enter fruit 1: Banana
Enter fruit 2: Kiwi

Enter fruits for set s2:
Enter fruit 1: Mango
Enter fruit 2: Kiwi

a) Fruits common to both sets s1 and s2: {'Kiwi'}
b) Fruits only in s1 but not in s2: {'Banana'}
c) Count of all unique fruits from s1 and s2: 3

In [ ]:
counts = [0] * 4
n = int(input("Enter the number of values to scan: "))
for _ in range(n):
    while True:
        try:
            value = int(input("Enter a value (0-3): "))
            if 0 <= value <= 3:
                break
            else:
                print("Value out of range. Please enter a value between 0 and 3.")
        except ValueError:
            print("Invalid input. Please enter an integer.")
counts[value] += 1
for i in range(4):
    print(f"Number of times {i} occurred: {counts[i]}")

In [ ]:
Dict = {'Name':"Mudit",'Sap_id':"590014218",'Age':"20",'Address':"Muzaffarnagar"}
Dict['Date']="12/02/2025"
print(Dict)
Dict['Age']="19"

{'Name': 'Mudit', 'Sap_id': '590014218', 'Age': '20', 'Address': 'Muzaffarnagar', 'Date': '12/02/2025'}

In [ ]:
d1=[1,2,3,4,5,6]
d2=['A','B','C','D','E','F']
dict_1={K:V for (K,V) in zip(d1,d2)}
print(dict_1)
my_str='Welcome t dictionary'
dict_2={K:V.upper() for (K,V)in my_str}

print(dict_2)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F'}

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
my_str='Welcome t dictionary'
dict_2={K:V for K,V in enumerate(my_str)}
print(dict_2)

{0: 'W', 1: 'e', 2: 'l', 3: 'c', 4: 'o', 5: 'm', 6: 'e', 7: ' ', 8: 't', 9: ' ', 10: 'd', 11: 'i', 12: 'c', 13: 't', 14: 'i', 15: 'o', 16: 'n', 17: 'a', 18: 'r', 19: 'y'}

In [ ]:
emojis = {
    "I am Happy": "😊",
    "I am in love": "❤️",
    "Good Work": "👍",
    "Fire": "🔥",
    "Hello Kitty": "🐱"
}
emoji_items = list(emojis.items())

while True:
    print("\n==== Emoji Menu ====")
    for index, (name, _) in enumerate(emoji_items, start=1):
        print(f"{index}. {name} Emoji")
    print("6. Exit")
    choice = input("\nEnter your choice (1-6): ")
    if choice == '6':
        print("Exiting program. Goodbye!")
        break
    elif choice in ['1', '2', '3', '4', '5']:
        index = int(choice) - 1
        emoji_name, emoji_char = emoji_items[index]
        print(f"\n{emoji_name} Emoji: {emoji_char}")
    else:
        print("Invalid input! Please enter a number between 1 and 6.")

==== Emoji Menu ====
1. Smile Emoji
2. Heart Emoji
3. Thumbs Up Emoji
4. Fire Emoji
5. Cat Emoji
6. Exit

Enter your choice (1-6): 1

Smile Emoji: 😊

==== Emoji Menu ====
1. Smile Emoji
2. Heart Emoji
3. Thumbs Up Emoji
4. Fire Emoji
5. Cat Emoji
6. Exit

Enter your choice (1-6): 6
Exiting program. Goodbye!

Write a program to create emoji

In [ ]:
dict={'Happy':'😁','Sad':'🥲😔'}
a=input("Enter you mood: ")
if a=="happy":
  print(dict['Happy'])
elif a=="sad":
  print(dict['Sad'])

Enter you mood: happy
😁

In [ ]:
d1={'Happy':"😊",'Sad':"😒",'Angry':"😠",'Fearful':"😨"}
a=input("How are you Feeling:")
print(d1[a])

How are you Feeling:I am feeling Happy

KeyError: 'I am feeling Happy'

FUNCTIONS: "" organized,well written,modular code to perform a task"
There aare three types of functions
1.predefine functions(sum,print,input)
2.Userdefined functions
3.Anonymous functions

In [5]:
def func1(n):
  n=n*n
  print(n)
print(func1(10))

100
None

Write a function to check whether a number is even or odd

In [8]:
def even_odd(m):
  if m%2==0:
     print("Number is Even")
  else:
     print("Number is Odd")
m=int(input("Enter your number"))
even_odd(m)

Enter your number7
Number is Odd

In [13]:
def add_1(a,b):
  """This fun adds two variables"""
  C=a+b
  print(C)
add_1(2,3)
print(add_1.__doc__)

5
This fun adds two variables