<a href="https://colab.research.google.com/github/Mudit0917/batch_50_python/blob/main/python_lab1_50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#welcome to my first lab
print("welcome to my python lab")

welcome to my python lab

**KEYWORDS AND IDENTIFIERS**

In [ ]:
print(keyw.kwlist())

NameError: name 'keyw' is not defined

In [ ]:
a=10+10
print(a)
a=10+10+\
  20+20+\
  30+20+10
print(a)

20
120

In [ ]:
# @title Default title text
l1=['a',
    'b',
    'c',
    'd',
    'e'
    ]
l1

['a', 'b', 'c', 'd', 'e']

In [ ]:
#assignment
#mystring="'Hi, My name is Mudit tyagi'\n 'And I Am A student doing my bachelors from UPES'"
print(mystring)

'Hi, My name is Mudit tyagi'
 'And I Am A student doing my bachlors from UPES'

In [ ]:
num1

In [ ]:
num1=int(input("Enter your first number"))
num2=int(input("Enter your second number"))
sum=(num1 + num2)
sum

Enter your first number786
Enter your second number108

894

In [ ]:
num1=int(input("enter your first number"))
num2=int(input("enter your second number"))
product=(num1*num2)
print(product)

enter your first number786
enter your second number108
84888

In [ ]:
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [ ]:
a=17
b=3
print(a//b)

5

In [ ]:
a=17
b=3
print(a**b)
print(a/b)
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a^b)

4913
5.666666666666667
False
True
True
False
True
False
18

BITWISE OPERATORS

AND(&),OR(OR),NOT(!),XOR(^)

In [ ]:
a=0o00001010
print(a>>1)

260

In [ ]:
a=15
print(a>>1)

7

In [ ]:
a=10
b=5
if(a>b) && (a==b):
print("success")
else:print("fail")

SyntaxError: invalid syntax (<ipython-input-14-da73150f9844>, line 3)

Write a program to use input function and take 2 variables store numbers in them and use arithmetic functions.

In [ ]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
askk=input("enter your operation")
print(eval(str(a) + askk + str(b)))

enter your first number2
enter your second number3
enter your operation**
8

In [ ]:

import math
radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 3
The area of the circle with radius 3.0 is: 28.27

In [ ]:
import math
a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = math.sqrt(a**2 + b**2)
print(f"The length of the hypotenuse is: {c:.2f}")

Enter the length of side a: 4
Enter the length of side b: 8
The length of the hypotenuse is: 8.94

In [ ]:

P = float(input("Enter the principal amount (P): "))
R = float(input("Enter the annual rate of interest (R in %): "))
T = float(input("Enter the time (T in years): "))

SI = (P * R * T) / 100

print(f"The Simple Interest is: {SI:.2f}")

Enter the principal amount (P): 5000
Enter the annual rate of interest (R in %): 12
Enter the time (T in years): 10
The Simple Interest is: 6000.00

In [ ]:
import math

a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

s = (a + b + c) / 2
area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f"The area of the triangle is: {area:.2f}")

Enter the length of side a: 31
Enter the length of side b: 36
Enter the length of side c: 38
The area of the triangle is: 519.67

In [ ]:
seconds = int(input("Enter the total seconds: "))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60

print(f"{seconds} seconds is equal to {hours} hours, {minutes} minutes, and {remaining_seconds} seconds.")

Enter the total seconds: 3600
3600 seconds is equal to 1 hours, 0 minutes, and 0 seconds.

In [ ]:
x = int(input("Enter the first number (x): "))
y = int(input("Enter the second number (y): "))
x, y = y, x

print(f"After swapping, x = {x} and y = {y}")

Enter the first number (x): 24
Enter the second number (y): 36
After swapping, x = 36 and y = 24

In [ ]:
n = int(input("Enter a number (n): "))
sum_natural = n * (n + 1) // 2

print(f"The sum of the first {n} natural numbers is: {sum_natural}")

Enter a number (n): 20
The sum of the first 20 natural numbers is: 210

In [ ]:
print("A\tB\tA & B\tA | B\tA ^ B")
for A in [0, 1]:
 for B in [0, 1]:
  print(f"{A}\t{B}\t{A & B}\t{A | B}\t{A ^ B}")

A	B	A & B	A | B	A ^ B
0	0	0	0	0
0	1	0	1	1
1	0	0	1	1
1	1	1	1	0

In [ ]:
num = int(input("Enter a number: "))
shift = int(input("Enter the number of positions to shift: "))
left_shift = num << shift
right_shift = num >> shift

print(f"Left shift by {shift} positions: {left_shift}")
print(f"Right shift by {shift} positions: {right_shift}")

Enter a number: 20
Enter the number of positions to shift: 1
Left shift by 1 positions: 40
Right shift by 1 positions: 10

In [ ]:
num = int(input("Enter a number: "))
sequence = (10, 20, 56, 78, 89)
if num in sequence:
    print(f"{num} is in the sequence.")
else:
    print(f"{num} is not in the sequence.")

Enter a number: 20
20 is in the sequence.

In [ ]:
char = input("Enter a character: ")
string = "Hello, Python!"
if char in string:
    print(f"The character '{char}' is in the string.")
else:
    print(f"The character '{char}' is not in the string.")

Enter a character: P
The character 'P' is in the string.

In [ ]:
num=int(input("Enter a number"))
if num%3==0 and num%5==0:
   print("The number is divisible by 3 and 5")
else:
   print("The number is not divisible by 3 and 5")

Enter a number45
The number is divisible by 3 and 5

In [ ]:
num=int(input("Enter a number"))
if num%5==0:
   print("The number is a multiple of 5")
else:
   print("The number is not a multiple of 5")

Enter a number45
The number is a multiple of 5

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
if num1>num2:
    print("num1 is greater")
elif num2>num1:
    print("num2 is greater")
else:
     print("both are equal")

Enter first number5
Enter second number5
both are equal

In [ ]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
num3=int(input("Enter third number"))
if num1 > num2 and num1 > num3 or num2>num1 and num2>num3 or num3>num1 and num3>num2:
    print("The largest number is",max (num1, num2, num3))

Enter first number12
Enter second number13
Enter third number15
The largest number is 15

In [ ]:
a=int(input("Enter a"))
b=int(input("Enter b"))
c=int(input("Enter c"))
discriminant =int(b**2 - 4*a*c)
if discriminant > 0:
  print("The equation has real roots.")
  root1 = (-b + (discriminant)**1/2) / (2*a)
  root2 = (-b - (discriminant))**1/2 (2*a)
  print(root1,root2)
elif  discriminant <0:
  print("The equation has immaginary roots")
  root1 = (-b + (discriminant))**1/2 / (2*a)
  root2 = (-b - (discriminant))**1/2 / (2*a)
  print(root1,root2)

else:
  print("nothing")

<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

Enter a5
Enter b3
Enter c5
The equation has immaginary roots
-4.7 4.4

<ipython-input-31-36ba2b36c746>:8: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  root2 = (-b - (discriminant))**1/2 (2*a)

In [ ]:
Y=int(input("Enter your year"))
if Y%4==0:
  print("The year is a leap year")
else:
  print("The year is not a leap year")

Enter your year2006
The year is not a leap year

In [ ]:
a=int(input("Enter date"))
b=int(input("Enter month"))
c=int(input("Enter year"))
if

In [ ]:
print("---------------------------")\
name=input("Enter the name :")
roll=input("Enter the roll :")
sap=input("Enter the SAP ID :")
sem=1
course = "Btech CSE"
print("Enter marks of five subjects")
pds=float(input("Enter marks of PDS :"))
pyth=float(input("Enter marks of Python :"))
chem=float(input("Enter marks of Chemistry :"))
eng=float(input("Enter marks of English :"))
phy=float(input("Enter marks of Physics :"))
if pds<100 or pyth<100 or chem<100 or eng<100 or phy<100 :
    per=((pds+pyth+chem+eng+phy)/500)*100
    cgpa = per/10
    if cgpa>=0 and cgpa<3.5 :
        grade= "F"
    elif cgpa>=3.5 and cgpa<=5.0 :
        grade= "C+"
    elif cgpa>=5.1 and cgpa<=6.0 :
        grade = "B"
    elif cgpa>=6.1 and cgpa<=7.0 :
        grade="B+"
    elif cgpa>=7.1 and cgpa<=8.0 :
        grade="A"
    elif cgpa>=8.1 and cgpa<9.0 :
        grade="A+"
    else :
        grade="O"
    print("SAMPLE GRADESHEET")
    print("Name : ",name)
    print("Roll no :",roll)
    print("SAP ID :",sap)
    print("SEM :",sem)
    print("COURSE :",course)
    print("PDS :",pds)
    print("PYTHON :",pyth)
    print("CHEMISTRY :",chem)
    print("ENGLISH :",eng)
    print("PHYSICS :",phy)
    print("percentage : " ,per)
    print("CGPA : " ,cgpa)
    print("GRADE :",grade)
else:
    print("Invalid input")

---------------------------
Enter the name :Mudit Tyagi
Enter the roll :590014218
Enter the SAP ID :590014218
Enter marks of five subjects
Enter marks of PDS :80
Enter marks of Python :85
Enter marks of Chemistry :85
Enter marks of English :90
Enter marks of Physics :98
SAMPLE GRADESHEET
Name :  Mudit Tyagi
Roll no : 590014218
SAP ID : 590014218
SEM : 1
COURSE : Btech CSE
PDS : 80.0
PYTHON : 85.0
CHEMISTRY : 85.0
ENGLISH : 90.0
PHYSICS : 98.0
percentage :  87.6
CGPA :  8.76
GRADE : A+

In [ ]:
sec_num=14
guess_count=3
counter=0
while counter<guess_count:
    num=int(input("ENter the Guess"))
    if num==sec_num:
       print("success")
       break
    else:
        counter=counter+1
        print("try again")

ENter the Guess5
try again
ENter the Guess14
success

In [ ]:
command=""
while command! ='quit':
    command=input("")
    if command=='start':
      print("Car started")
    elif command=='stop':
        print("Car stopped")
    elif command==''

In [ ]:
num = int(input("Enter a number: "))/
if num < 2:
    print(f"{num} is not a prime number.")
else:
    i = 2
    is_prime = True
    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

In [ ]:
num = int(input("Enter a number: "))\
original_num = num
reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
if original_num == reversed_num:
    print(f"{original_num} is a palindrome.")
else:
    print(f"{original_num} is not a palindrome.")

In [ ]:
num = int(input("Enter a number: "))\
sum_of_digits = 0
while num > 0:
    digit = num % 10
    sum_of_digits += digit
    num //= 10
print(f"The sum of digits is {sum_of_digits}.")

In [ ]:
i = 1\
count = 0
while i <= 100:
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1
    i += 1
print(f"\nCount of numbers divisible by 5 or 7: {count}")

In [ ]:
string = input("Enter a string: ")
i = 0
result = ""
while i < len(string):
    char = string[i]
    if 'a' <= char <= 'z':
        char = chr(ord(char) - 32)
    result += char
    i += 1
print(f"Converted string: {result}")

Enter a string: My name is Mudit
Converted string: MY NAME IS MUDIT

In [ ]:
i = 2\
while i <= 100:
    is_prime = True
    j = 2
    while j * j <= i:
        if i % j == 0:
            is_prime = False
            break
        j += 1
    if is_prime:
        print(i, end=" ")
    i += 1

In [ ]:
num = int(input("Enter a number: "))\
i = 1
while i <= 10:
    print(f"{num} * {i} = {num * i}")
    i += 1

In [ ]:
num = int(input("Enter a number: "))\
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"The factorial of {num} is {factorial}.")

In [5]:
s1='Welcome'
for i in s1:
  print(i)
  if i==l:
     continue

W

NameError: name 'l' is not defined

In [4]:
s1='Welcome'
l1=[1,2,3,4,5]
for i in s1:
  for j in l1:
    print(i,j)

W 1
W 2
W 3
W 4
W 5
e 1
e 2
e 3
e 4
e 5
l 1
l 2
l 3
l 4
l 5
c 1
c 2
c 3
c 4
c 5
o 1
o 2
o 3
o 4
o 5
m 1
m 2
m 3
m 4
m 5
e 1
e 2
e 3
e 4
e 5

In [12]:
n=int(input("Enter a number"))
s=1
if n<0:
  print("factorial dos not exist for negative numbers")
elif n==0:
  print("The factorial is:",1)
else:
  for i in range(1, n + 1):
     s*= i
print(f"The factorial of {n} is {(s)}")

Enter a number5
The factorial of 5 is 120

In [13]:
terms=int(input("Enter the number of terms: "))
a,b=0,1
count=0
for i in range(terms):
  print(a,end=" ")
  c=a+b
  a=b
  b=c
  count+=1

Enter the number of terms: 5
0 1 1 2 3